@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.appWrapper {
  position: relative;
  @include flexbox.flexbox(center, center);
  width: 100%;
  height: 100vh;

  .app {
    @include flexbox.flexbox(between, center);
    flex-direction: column;
    width: 360px;
    height: 720px;
    color: colors.$WHITE;
    background: rgb(17, 17, 17);
    border-radius: 50px;
  }
}
