@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';

.modalContainer {
  @include position.fixed(0 auto auto 0);
  @include flexbox.flexbox(center, center);
  width: 100%;
  height: 100%;
  background-color: rgba($color: colors.$BLACK, $alpha: 70%);

  .modalContents {
    width: 300px;
    background-color: colors.$WHITE;
    border-radius: 10px;

    p {
      padding: 30px;
      text-align: center;
    }

    .buttonWrap {
      @include flexbox.flexbox(center, center);
      padding: 0 0 30px;

      button {
        width: 120px;
        height: 50px;
        margin: 0 10px;
        font-size: 12px;
        color: colors.$WHITE;
        border-radius: 10px;

        &:first-of-type {
          background-color: colors.$INDIGO;
        }

        &:last-of-type {
          background-color: colors.$GRAY6;
        }
      }
    }
  }
}
