@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';

header {
  position: absolute;
  top: 0;
  width: 100%;

  .form {
    @include flexbox.flexbox(center, center);
    position: relative;
    padding: 40px 30px 20px;

    .searchIcon {
      position: absolute;
      left: 28px;
      width: 20px;
      height: 20px;
      fill: colors.$WHITE;
    }

    .input {
      width: 100%;
      padding: 10px 10px 10px 20px;
      font-size: 14px;
      color: colors.$WHITE;
      border-bottom: 1px solid colors.$WHITE;

      &::placeholder {
        color: colors.$WHITE;
      }
    }

    button {
      width: 60px;
      padding: 10px;
      margin-left: 10px;
      font-size: 13px;
      color: colors.$WHITE;
      border: 1px solid colors.$WHITE;
      border-radius: 5px;
    }
  }
}
